
<div style="background-color:#f4f5f7;height: 700px">
  <mat-toolbar color="primary">
  <mat-toolbar-row>
      <i class="material-icons">
          settings
          </i>
  <span>  STP</span>
      <span class="example-fill-remaining-space"></span>
      <span class="align-center"></span>
      <span class="example-spacer"></span>
      <button mat-button>About</button>
      <button mat-button>Contact</button>
      <button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item>
      <mat-icon>dialpad</mat-icon>
      <span>Redial</span>
    </button>
    <button mat-menu-item disabled>
      <mat-icon>voicemail</mat-icon>
      <span>Check voicemail</span>
    </button>
    <button mat-menu-item>
      <mat-icon>notifications_off</mat-icon>
      <span>Disable alerts</span>
    </button>
  </mat-menu>
   </mat-toolbar-row>
  </mat-toolbar>
  
  
  
  
  
  
  

<div style="width: 400px; margin-left: 800px;margin-top:100px">
  <mat-card class="example-card">
    <mat-card-header>                  
      <mat-card-title>Registration</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form class="example-form">
        <table class="example-full-width" cellspacing="0">
          <tr>
            <td>
              <mat-form-field class="example-full-width">
              <input matInput placeholder="Name" [(ngModel)]="username" name="username" required>
              </mat-form-field>
            </td>
          </tr>
          <tr>
          <td><mat-form-field class="example-full-width">
            <input matInput placeholder="Clinic Name" [(ngModel)]="password"type="password" name="password" required>
          </mat-form-field></td>
        </tr>
        <tr>
            <td><mat-form-field class="example-full-width">
              <input matInput placeholder="Email" [(ngModel)]="password"type="password" name="password" required>
            </mat-form-field></td>
          </tr>
          <tr>
              <td><mat-form-field class="example-full-width">
                <input matInput placeholder="Phone No" [(ngModel)]="password"type="password" name="password" required>
              </mat-form-field></td>
            </tr>
            <tr>
                <td><mat-form-field class="example-full-width">
                  <input matInput placeholder="Activation code" [(ngModel)]="password"type="password" name="password" required>
                </mat-form-field></td>
              </tr>
      
      </table>
      </form>
      <mat-spinner [style.display]="showSpinner ? 'block' : 'none'"></mat-spinner>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button (click)="register()" color="primary">Register</button>
      <button mat-raised-button (click)="cancel()" color="primary">Cancel</button>

    </mat-card-actions>
    
  </mat-card>
  
  <div>
  
  
  </div>
  </div>
  
  
  </div>