
<div style="background-color:#f4f5f7;height: 700px">
  <mat-toolbar color="primary">
  <mat-toolbar-row>
      <i class="material-icons">
          settings
          </i>
  <span>  STP</span>
      <span class="example-fill-remaining-space"></span>
      <span class="align-center"></span>
      <span class="example-spacer"></span>
      <button mat-button>About</button>
      <button mat-button>Contact</button>
      <button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item>
      <mat-icon>dialpad</mat-icon>
      <span>Redial</span>
    </button>
    <button mat-menu-item disabled>
      <mat-icon>voicemail</mat-icon>
      <span>Check voicemail</span>
    </button>
    <button mat-menu-item>
      <mat-icon>notifications_off</mat-icon>
      <span>Disable alerts</span>
    </button>
  </mat-menu>
   </mat-toolbar-row>
  </mat-toolbar>
  
  
    <router-outlet></router-outlet>
  
  
  
  
  

<div style="width: 400px; margin-left: 1000px;margin-top:170px">
    <mat-card class="example-card">
      <mat-card-header>                  
        <mat-card-title>Login</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <form class="example-form">
          <table class="example-full-width" cellspacing="0">
            <tr>
              <td>
                <mat-form-field class="example-full-width">
                <input matInput placeholder="Username" [(ngModel)]="username" name="username" required>
                </mat-form-field>
              </td>
            </tr>
            <tr>
            <td><mat-form-field class="example-full-width">
              <input matInput placeholder="Password" [(ngModel)]="password"type="password" name="password" required>
            </mat-form-field></td>
          </tr></table>
        </form>
        <mat-spinner [style.display]="showSpinner ? 'block' : 'none'"></mat-spinner>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button (click)="login()" color="primary">Login</button>
      </mat-card-actions>
      
    </mat-card>
    
    <div>
        &nbsp;
        <a routerLink="/registration">Registration</a>   
&nbsp;
    
       <a routerLink="/registration">Forget Password</a>


    
    </div>
    </div>
    
    
  </div>
